[Desktop Entry]
Name=SBT Connect
NoDisplay=true
MimeType=x-scheme-handler/sbtconnect;
TryExec=rustdesk
Exec=rustdesk %u
Icon=rustdesk
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=rustdesk
